<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div id="root">
        <div id="header">
            <h2>Healthy Foodie</h2>
        </div>

        <div id="navigator">
            <ul>
                <li>Home</li>
                <li class="collapsible">Hôm nay ăn gì</li>
                    <div id="collapsible-content">
                        <li>Xuân</li>
                        <li>Hạ</li>
                        <li>Thu</li>
                        <li>Đông</li>
                    </div>
                <li>Đóng góp</li>
                <li>Follow</li>
            </ul>
        </div>

        <div id="post-container">
            <h2 id="post-title">Món ăn</h2>
            <div id="post-content">
                <img src="{{item.img}}" alt="Món ăn">
                <h4>Nguyên liệu: {{item.nguyenlieu}}</h4>
                <h4>Cách làm: {{item.cachlam}}</h4>
            </div>
        </div>

        <div id="side-column">
            <h2>Có thể bạn quan tâm</h2>
            {% for item in items %}
            <div class="side-column-item">
                <img src="{{item.img}}" alt="Món ăn">
                <h3>{{item.title}}</h3>
            </div>
            {% endfor %}

            </div>
        </div>
    </div>
    
</body>
</html>